.blog__posts {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;

	.card {
		align-items: stretch;

		h3 {
			color: #fafafa;
			margin: 0;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	.card__media {
		box-sizing: border-box;
		padding: 24px;
		display: flex;
		flex-grow: 1;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		align-items: flex-end;
		cursor: pointer;
	}

	.card__supporting-text {
		p:last-child {
			margin-bottom: 0;
		}
	}
}
