.blogpost {
	.content {
		padding: 80px 56px;
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > * {
			max-width: 512px;
			margin: 16px auto;
			font-size: 16px;
			line-height: 28px;
		}
	}

	.card__media {
		height: 280px;
	}

	.meta {
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		jusity-content: flex-start;

		& > * {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

.back {
	position: absolute;
	top: 16px;
	left: 16px;
	color: #fff;
	z-index: 9999;

	a {
		color: inherit;
	}
}
