---
layout: default
---

<div class="back">
	<a href="/" title="go back" role="button">
		<i class="material-icons" role="presentation">arrow_back</i>
	</a>
</div>

<div class="grid blogpost">
	<div class="grid-cell grid-cell--12-col">
		<div class="card shadow--2dp">
			<div class="card__media">
				<img src="{{ site.baseurl }}/images/{{ page.image }}">
				<h3>{{ page.title }}</h3>
			</div>

			<div class="card__supporting-text meta">
				<img src="//www.gravatar.com/avatar/9ffa49a806f3c5da3ee792d9f1143c4f.jpg?s=44" alt="{{ page.author }}" class="logo">
				<div>
					<strong>{{ page.author }}</strong>
					<span>{{ page.date | date: "%B %-d, %Y" }}</span>
				</div>

				<div class="layout-spacer"></div>
			</div>

			<div class="content card__supporting-text">
				{{ content }}
			</div>
		</div>
	</div>
</div>
